/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #39cce6;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header img.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

nav {
    background: #444;
    color: #fff;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

section h2 {
    text-align: center;
    color: #333;
}

section p, section ul, section .experience-item, section .education-item, section .project {
    max-width: 700px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0;
        padding: 10px 0;
    }
}